@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
}


#bday {
  font-family: 'Annie Use Your Telescope';
  font-weight: bolder;
  font-size: 100px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 15vh;
  width: 15vw;
  border: solid darkgray 1px;
  z-index: 1;
  background-color: white;
  font-family: 'Annie Use Your Telescope';
  display: flex;
  flex-direction: column;
  padding: 10px;
  transform: translate(-50%, -50%);
}
.login-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.login-form form input {
  padding: 10px;
  border: 1px solid lightgray;
}
.login-form button {
  font-family: 'Annie Use Your Telescope';
  font-weight: bolder;
  font-size: large;
}
.confirmation-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 42vh;
  width: 15vw;
  border: solid darkgray 1px;
  z-index: 1;
  background-color: white;
  font-family: 'Annie Use Your Telescope';
  display: flex;
  flex-direction: column;
  padding: 10px;
  transform: translate(-50%, -50%);
}
.confirmation-menu form {
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.confirmation-menu form input {
  padding: 10px;
  border: 1px solid lightgray;
}
.confirmation-menu button {
  font-family: 'Annie Use Your Telescope';
  font-weight: bolder;
  font-size: large;
}
#see-you {
  font-family: 'Annie Use Your Telescope';
  font-weight: bolder;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.text-menu-container {
  position: absolute;
  top: 50%;
  left: 13%;
  height: 42vh;
  width: 15vw;
  border: solid darkgray 1px;
  z-index: 1;
  background-color: white;
}

.text-menu {

  font-family: 'Annie Use Your Telescope';
}
.text-menu form {
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.text-menu form input {
  padding: 10px;
  border: 1px solid lightgray;
}
.text-menu button {
  font-family: 'Annie Use Your Telescope';
  font-weight: bolder;
  font-size: large;
}
.tool-menu-container{
  display: flex;
  flex-direction: row;
  position:absolute;
  width:30%;
  top:50%;
  left: 3%;
  padding: 10px;

}
.tool-menu  {
  display:flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  border: solid darkgray 1px;
  font-family: 'Annie Use Your Telescope';

}


.tool-menu .input{
appearance: none;
}

.check-input{
  accent-color: black;
}

.color-menu {

 height: 100%;
}
.color-picker {
  display: flex;
  flex-direction: column;
}
.color-button {
  height: 47px;
  width: 30px;
  border: 0

}
#save-button {
  position: absolute;
  font-family: 'Annie Use Your Telescope';
  font-weight: bolder;
  font-size: large;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}
